﻿@using Blog.Models
@model Post
@{
    ViewBag.Title = "Post erstellen";
}
<div class="container body-content">
    <div class="row">
        <h2>@ViewBag.Title</h2>

        @using (Html.BeginForm("CreateEdit", "Post", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h4>Erstellen Sie einen Post:</h4>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Caption, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Caption, new { @class = "form-control" })
                </div>
                @if (Model.Id != null)
                {
                    @Html.Label("Picture", new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        <input type="file" name="uploadPicture" accept="image/*" />
                    </div>
                }
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Submit" />
                </div>
            </div>
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
    </div>
</div>