﻿@using System.Activities.Expressions
@using Blog.Models
@using Microsoft.AspNet.Identity
@model List<Post>
@{
    ViewBag.Title = "Posts";
}

<style>
    .containerO {
        position: relative;
        width: 500px;
    }

    .image {
        display: block;
        max-width: 500px;
    }

    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 500px;
        opacity: 0;
        transition: .5s ease;
        background-color: white;
    }

    .containerO:hover .overlay {
        opacity: 0.85;
    }

    .text {
        color: gray;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 45%;
        -webkit-transform: translate(-45%, -45%);
        -ms-transform: translate(-45%, -45%);
        transform: translate(-45%, -45%);
        text-align: center;
    }
</style>

<div class="container body-content">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Filter", "Post", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            <h3>Filter</h3>
            @Html.AntiForgeryToken()
            <h4>Suche nach einem User:</h4>
            <label>Datum: </label> @Html.RadioButton("Filter", "Datum")
            <input type="submit" class="btn btn-default" value="Senden" />
        }
        <hr />
        @Html.ActionLink("Post erstellen", "CreateEdit")
        @if (Model.Count != 0)
        {
            foreach (Post post in Model)
            {
                <h3>@post.Caption</h3>
                <p>Gepostet von: @Html.ActionLink(post.User.UserName, post.User.UserName, "User/Detailed") | am: @post.Timestamp.ToString("MM/dd/yyyy")</p>
                string picture = post.Id.ToString() + post.ImageExtension;
                <div class="containerO">
                    <img src="~/Pictures/@picture" style="width: 500px" class="image" />
                    <div class="overlay">
                        <div class="text">
                        </div>
                    </div>
                </div>
                if (User.Identity.GetUserId() == post.UserId)
                {
                    @Html.ActionLink("Post editieren", "CreateEdit", new { id = post.Id })
                    <br />
                    @Html.ActionLink("Post löschen", "Delete", new { id = post.Id })
                }
                <hr />
            }

        }
        else
        {
            <h2>Es hat noch keine Posts. Sei der Erste der etwas @Html.ActionLink("postet!", "CreateEdit")</h2>
        }
    </div>
</div>
