﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.center {
    margin: auto;
    width: 60%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px 15px;
    font-size: 18px;
    color: #9d9d9d;
    background-color: #000000;
    opacity: 0.85;
}

#startImage {
    width: 100%;
}

.navbar-inverse {
    background-color: #000000;
    opacity: 0.85;
}