﻿@using Blog.Models
@model ApplicationUser
@{
    ViewBag.Title = "User";
}

<div class="container body-content">
    <div class="row">
        <br />
        @if (Model != null)
        {
            <h1>@Model.UserName</h1>
            if (Model.Posts.Count != 0)
            {
                foreach (Post post in Model.Posts)
                {
                    <h3>@post.Caption</h3>
                    <p>Gepostet von: @Html.ActionLink(post.User.UserName, post.User.UserName, "User/Detailed") | am: @post.Timestamp.ToString("MM/dd/yyyy")</p>
                    string picture = post.Id.ToString() + post.ImageExtension;
                    <img src="~/Pictures/@picture" style="max-width: 500px" />
                    <hr />
                }
            }
            else
            {
                <p>@Model.UserName hat noch keine Posts</p>
            }
        }
        else
        {
            <h1>Dieser User konnte leider nicht gefunden werden.</h1>
        }
    </div>
</div>