﻿@using Blog.Models
@model List<ApplicationUser>
@{
    ViewBag.Title = "User suchen";
}

<div class="container body-content">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        @using (Html.BeginForm("Search", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <h4>Suche nach einem User:</h4>
            @Html.TextBox("search", null, new { placeholder = "Benutzername", @class = "form-control" })
            <input type="submit" class="btn btn-default" value="Senden" />
            <hr />
        }

        @foreach (ApplicationUser user in Model)
        {
            <div class="card">
                <div class="card-body">
                    <h3>@Html.ActionLink(@user.UserName, user.UserName, "User/Detailed")</h3>
                </div>
            </div>
        }
    </div>
</div>
