﻿@model Blog.Models.IndexViewModel
@{
    ViewBag.Title = "Profilseite";
}

<div class="container body-content">
    <div class="row">
        <h2>@ViewBag.Title</h2>

        <p class="text-success">@ViewBag.StatusMessage</p>
        <h4>Ändern der Kontoeinstellungen für @Model.Username</h4>
        <hr />

        <div class="center">
            <div> <img src="~/Content/user.png" class="img-radius" alt="User-Profile-Image"> </div>
            <p>Benutzername</p>
            <h6>@Model.Username</h6>
            <h6>@Html.ActionLink("Meinen Benutzernamen ändern", "ChangeUsername")</h6>

            <br />
            <p>Passwort</p>
            <h6>
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Mein Passwort ändern", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
            </h6>

            <p>Meine Posts</p>
            <h6>@Html.ActionLink("Meine Posts", "MeinePosts", "Post", new { id = Model.Id }, null)</h6>

        </div>
    </div>
</div>
