﻿@{
    ViewBag.Title = "Home";
}



<img width="100%" id="startImage" src="~/Images/ImageForStart_Panorama.png" />


<div class="container body-content">
    <div class="row">
        <div class="col-md-4">
            <h2>M151 Blog</h2>
            <p class="lead">M151 Blog ist eine Webapplikation, bei welcher Sie sich anmelden & Bilder hochladen können.</p>
        </div>
    </div>
</div>